* text=auto eol=lf

# Force text classification for this static prototype
*.html text eol=lf
*.md text eol=lf
*.js text eol=lf
*.css text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.gitkeep text eol=lf
